# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\trainings\my-labs\core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
